﻿@model IEnumerable<DCM.VGDB.DTO.SystemDTO>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Title, "Index", "Systems", new { id = item.Title }, null)
        </li>
    }
</ul>