﻿@model DCM.VGDB.DTO.SystemDTO

@{
    ViewBag.Title = "Index";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    @Html.DisplayFor(model => model.Description)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
